<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--使用table标签来展示数据-->
<table id="dataTable" border="1" cellpadding="0" cellspacing="0" style="text-align: center">
  <tr>
    <th colspan="5">Employee Info</th>
  </tr>
  <tr>
    <td>id</td>
    <td>lastName</td>
    <td>email</td>
    <td>gender</td>
    <td>options(<a th:href="@{/toAdd}">add</a>)</td>
  </tr>
  <!--1:获取全部员工信息-->
  <!--通过thymeleaf遍历获取全部信息-->
  <tr th:each="employee : ${employeeList}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.email}"></td>
    <td th:text="${employee.gender}"></td>
    <td>
      <!--2:删除用户信息
      通过+进行拼接，若直接把${employee.id}写进去,浏览器会把它识别为字符而不是数据-->
      <a @click="deleteEmployee" th:href="@{/employee/}+${employee.id}">delete</a>
      <!--3:更新用户信息-->
      <a th:href="@{/employee/}+${employee.id}">update</a>
    </td>
  </tr>
</table>

<!--2.1:删除员工-->
<form id="deleteForm" method="post">
    <input type="hidden" name="_method" value = "delete">
</form>
<!--2.2:引入vue静态文件,使用JavaScript进行逻辑操纵-->
<script type="text/javascript" th:src="@{static/js/vue.js}"></script>
<script>
    var vue = new Vue({
        el:"#dataTable",
        methods:{
            /*点击事件函数*/
            deleteEmployee:function (event) {
                //根据id获取表单元素
                var deleteForm = document.getElementById("deleteForm");
                //将触发点击事件的超链接的href属性赋值给表单的action
                deleteForm.action = event.target.href;
                //提交表单
                deleteForm.submit();
                //取消超链接的默认行为
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>